body {
	margin: 0 auto;
	padding: 0;	
	width: 100%;
	font-family: 'Roboto', sans-serif;
}	

.flex-container{
	display : flex;
}



/*------- HEADER -------*/

#navegador{
	position: fixed;
	width: 100%;
	height: 80px;
	padding-top: 24px;
	padding-bottom: 8px;
	z-index: 1000;
	padding-right: 40px;
    left:  0px;	
    right: 0px;

}

#navegador.flex-container{
	justify-content: flex-end;
	align-items: center;
	margin-right: 40px;
}

.logo{
	width: 60px;
	margin-right: auto;
	padding-left: 80px;
	overflow: hidden;
}

.hide{
	display: none;
}

.estilo-a{
	display: inline-block;
	padding: 20px 40px;
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	margin-left: 10px;
}

.estilo-a.nav-especial{
	padding: 10px 20px;
	border: 1px solid white;
	border-radius: 10%;
}


.nav-hide{
	visibility: hidden;
}

#navegador  a:hover{
	color: #ff00bf;
}


/*----------- SCROLL -----------*/

.menu-dos{
	position: fixed;
	width: 100%;
	height: 80px;
	padding-top: 24px;
	padding-bottom: 8px;
	z-index: 1000;
	padding-right: 40px;
    left:  0px;	
    right: 0px;
    background-color: white;		
}

.color-a{
	display: inline-block;
	padding: 20px 40px;
	text-decoration: none;
	color: #3F3F3F;
	font-size: 1.2em;
	margin-left: 10px;
}

.nav-especial-scroll{
	padding: 10px 20px;
	border: 1px solid #3F3F3F;
	border-radius: 10%;
}

.estilo-a-scroll{
	border: 1px solid #ff00bf;
	padding: 10px 20px;
	color: #ff00bf;
	border-radius: 10%;
	margin-right: 15px;
}




/*------- ARTICLE VIDEO -------*/

#article-video{
	height: auto;
}

#video-background {
	padding: 0;
    height: 120%;
    width: 100%;
    z-index: -100;
    position: relative;
    top: 0;
    /*transform: translateY(-10%);*/
}

#mascara{
	width: 100%;
	height: 200px;
    background: linear-gradient(rgba(127,0,127,0),rgb(127,0,127));
    position: absolute;
    top: 520px;
}

/*------- SIGN UP -------*/

#article-video.flex-container{
	flex-direction: row-reverse;
}


.sign-up{
	background-color: white;
	width: 400px;
	height: 300px;
    position: absolute;
    margin: 0;
    top: 150px;
    padding: 60px 65px;
	justify-content: flex-end;
}

.titulo-sign-up h1{
	font-size: 50px;
	color: #241471;
	font-weight: 700;
	line-height: 0.9;
	position: relative;
	bottom: 50px;
}

.titulo-sign-up p{
	font-size: 15px;
	color: #241471;
	font-weight: 300;
	position: relative;
	bottom: 80px;
}


.sign-up input{
	width: 400px;
	height: 20px;
	margin: 0 0 30px 0;
    background: white;
    border-top: none;
    border-left: none;
    border-right: none;    
    border-bottom: 0.5px solid #241471;
    position: relative;
	bottom: 60px;
}

.sign-up input:focus {
	outline: 0;
    box-shadow: none;
   	border-bottom: 3px solid rgb(127,0,127);
   	opacity: 0.5;	
}

 [placeholder="Phone Number"]{
	opacity: 0.4;
	font-size: 1.2em;
}

.btn-sign-up{
	margin: 10px 0;
}

.btn-drive{
	color: white;
	padding: 15px;
	background-color: #FC00B5;
	text-decoration: none;
	font-size: 1.1em;
	border-radius: 10px;
	font-weight: 300;
	position: relative;
	bottom: 50px;	
}

.btn-ride{
	margin: 0 20px;
	position: relative;
	bottom: 50px;	
	font-weight: 300;
	color: #7F7F7F;
}

.text-sign-up{
	font-size: 0.65em;
	font-weight: 300;
	color: #7F7F7F;
	position: relative;
	bottom: 30px;
}

.text-sign-up a{
	color: #FC00B5;
	text-decoration: none;
}

/*------- SECTION RIDE -------*/

#ride {
	width: 100%;
	height: 500px;
	background: linear-gradient(rgb(127,0,127),#2b1e66);

}


